doctype html
head(lang="{|language code|}")
  if(!isDev)
    //- Google Analytics
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-88799128-12', 'auto');
      ga('send', 'pageview');
    //- Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1213193332403109');
      fbq('track', 'PageView');
  //- YouTube subscribe button
  script(src="https://apis.google.com/js/platform.js")
  //- Twitter follow button
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  //- Github star button
  script(async defer src="https://buttons.github.io/buttons.js")

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title="{|page title|}"
  link(rel="icon" href=require("src/assets/ico/logo-compact.ico").default)
  meta(name='description' content="{|page description|}")
  meta(name='keywords' content="{|page keywords|}")
  meta(property="og:image" content= require("src/assets/jpg/og-image_{|language code|}.jpg").default)
  meta(name="theme-color" content= "#5c9220")
  meta(property="fb:app_id" content="2488960424706043")

  style.
    body { margin: 0; padding: 0; }
    #splash-screen {
      position: absolute; width: 100vw; height: 100vh;
      background: #fff;
    }
    #splash-screen>div {
      position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transform-origin: 50% 100%;
      width: 200px; height: 200px;
      animation: rotation 1s forwards;
      animation-delay: .9s;
    }
    #splash-screen>div::before {
      content: "";
      position: absolute; left: 57%; top: 53%; transform: translate(-150%, -75%);
      opacity: 0;

      width: 100px; height: 100px;
      animation: more .5s forwards;
      animation-delay: .5s;

      background-image: url("#{require('!!base64-inline-loader!../../../assets/svg/>.svg')}");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    #splash-screen>div::after {
      content: "";
      position: absolute; left: 43%; top: 47%;

      width: 100px; height: 100px;
      animation: less .5s forwards;

      background-image: url("#{require('!!base64-inline-loader!../../../assets/svg/>.svg')}");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @keyframes rotation {
      from {
        transform: translate(-50%, -50%);
      }
      25%{
        transform: translate(-50%, -50%) rotate(4deg);
      }
      75%{
        transform: translate(-50%, -50%) rotate(-11deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(-10deg);
      }
    }
    @keyframes less {
      from {
        transform: translate(100%, -25%) scaleX(-1);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translate(-50%, -25%) scaleX(-1);
      }
    }
    @keyframes more {
      from {
        transform: translate(-150%, -75%);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translate(-50%, -75%);
      }
    }
    body > #splash-screen {
      z-index: 1000;
    }
    #app-container > #splash-screen {
      display: none;
    }
    * {
      font-family: "Tajawal", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }

- dir = ("{|language code|}" === "ar" ? "rtl" : "ltr");

body(dir=dir)
  div#splash-screen
    div
  div#app-container
    div#splash-screen
      div

script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0")
